.submenu-bar {
	background:$primary-color;
	color: $white;
	border-top: 1px solid;

	@include breakpoint(large down) {
		display: none;
	}

}

.cat-menu {
	text-transform: uppercase;


	.site-header &{
		@include breakpoint(large down) {
			display: none;
		}
	}
	body.home .site-header &{
		display: none;
	}
	li{
		a{
			font-weight: 600;
			color: $white;
			padding: 1.5rem 0.8rem;
			font-size: 0.8rem;
			.submenu-bar &{
				border-bottom: 3px solid transparent;				
			}
			&:hover,
			&:focus,
			&:active {
				color: $white;

				.submenu-bar &{
					border-bottom: 3px solid $secondary-color;
					background:lighten($primary-color, 5%);
				}
			}

		}
	}
}
