// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: $global-margin auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: $global-margin;
  height: auto;
}
@include breakpoint(medium) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: $global-margin;
  }
  .alignright {
    float: right;
    margin-left: $global-margin;
  }
}

// // Captions
// .wp-caption {
//   @extend .figure;
// }
// .wp-caption > img {
//   @extend .figure-img;
//   @extend .img-fluid;
// }
// .wp-caption-text {
//   @extend .figure-caption;
// }
// .wp-caption-text {
//   @extend .figure-caption;
// }

// Text meant only for screen readers
.screen-reader-text {
  @extend .show-for-sr;
}

.nav-links {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    @extend .button;
    @extend .primary;
    margin: 2rem;

  }
  .nav-next {
    margin-left: auto;
  }
.nav-previous a{
  @extend .button--back;
}
}

.entry-summary a{
  display: none;
}
