.site-footer {
	background:$light-gray;
	margin-top: 2rem;
	.widget {
	}
	.widget_media_image{
		@include xy-cell(shrink);
		img{
			height: 1.5rem!important;
			width: auto;
		}
		h3 {
			display: none;
		}
	}

	.widget_nav_menu{
	@include xy-cell(auto);
	}

	.menu {
		@include menu-direction(horizontal);
		// justify-content: flex-end;
		margin-left: 2em;
		li{
			a{
				padding: 1.5rem 0.8rem;
				font-size: 0.8rem;
				&:hover,
				&:focus,
				&:active {
				}

			}
		}
	}
}