.site-header {
	// background:$black;
	// color: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 15;

	.grid-container{

		position: relative;
		z-index: 2;
	}

	body:not(.home) &{
		background:rgba($primary-color, 1);
	}
	body.home:not(.scrolled) &{
		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 150%;
		// 	left: 0;
		// 	top: 0;
		// 	right: 0;
		// 	background:linear-gradient(rgba(0,0,0, 0.8), transparent);
		// } 
	}
	@include breakpoint(small down) {
		body.home .js-off-canvas-overlay.is-visible + &{
			background:rgba($primary-color, 0.95);
		}
	}

	body.scrolled &{
		background:rgba($primary-color, 0.95);
		border-bottom: 1px solid rgba($white, 0.5);
	}

	.banner {
		img{
			display: block;
			height: 2rem;
			margin: 1rem 1rem;
			width: auto;
			transition: all 0.3s ease;

			@include breakpoint(medium) {
				height: 2.5rem;
				margin: 1.5rem 1rem;
				body.scrolled &{
					height: 2rem;
					margin: 1rem .5rem;
				}
			}
		}
	}

	.offcanvas-trigger{
		color: $white;
		font-size: 1.5rem;
		margin-right: 1rem;
		&-text {
			display: none;
		}
	}
}


.page-header {
	background:$primary-color;
	padding: 1rem 1rem;
	margin-bottom: 2rem;
	border-top: 1px solid #429ddb;
	h1 {
			@extend .h5;
		color: $white;
		margin: 0;
		text-transform: uppercase;
		font-weight: 600;
	}

	.button {
		background:darken($primary-color, 6%);
		&:hover {
			background:darken($primary-color, 13%);
		}
		@include breakpoint(medium) {
			margin: 0;
		}

	}
}