.post {
	padding: 0 1rem  3rem;
	&:after {
		content: "";
		display: block;
		clear: both;
		width: 100%;
	}
	@include breakpoint(medium){
		padding: 3rem 1rem;
	}
	@include breakpoint(large){
		padding: 2rem 1rem;
	}
	&__image {
		margin: 0 calc(-1rem - 10px) 2rem;
		@include breakpoint(medium){
			float: left;
			margin: 0 2rem 2rem 0;
			width: 50%;
		}

	}

	h1 {
		@extend .h3;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 1em;
	}
}